vti_encoding:SR|utf8-nl
vti_thicketsupportingfile:BW|true
vti_author:SR|509J\\BregarD
vti_modifiedby:SR|509J\\BregarD
vti_timelastmodified:TR|01 Sep 2007 22:06:54 -0000
vti_timecreated:TR|16 May 2005 21:06:07 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{04FD7EBC-3047-43CA-8ECF-E5FB70DBBC37}
vti_backlinkinfo:VX|2005-6/afb/samppres1_files/master02.htm 2005-6/afb/samppres1_files/master03.htm 2005-6/afb/samppres1_files/slide0007.htm 2005-6/afb/samppres1_files/slide0008.htm 2005-6/afb/samppres1_files/master01.htm 2005-6/afb/samppres1_files/slide0005.htm 2005-6/afb/samppres1_files/slide0006.htm 2005-6/afb/samppres1_files/outline.htm 2005-6/afb/samppres1_files/slide0003.htm 2005-6/afb/samppres1_files/slide0004.htm 2005-6/afb/samppres1_files/slide0012.htm 2005-6/afb/samppres1_files/master04.htm 2005-6/afb/samppres1_files/slide0001.htm 2005-6/afb/samppres1_files/slide0002.htm 2005-6/afb/samppres1_files/slide0009.htm 2005-6/afb/samppres1_files/slide0010.htm 2005-6/afb/samppres1_files/slide0011.htm
vti_nexttolasttimemodified:TR|11 Sep 2006 22:12:28 -0000
vti_cacheddtm:TX|16 May 2005 21:06:07 -0000
vti_filesize:IR|7243
