vti_encoding:SR|utf8-nl
vti_thicketsupportingfile:BW|true
vti_author:SR|509J\\BregarD
vti_modifiedby:SR|509J\\BregarD
vti_timelastmodified:TR|01 Sep 2007 22:06:47 -0000
vti_timecreated:TR|19 Jan 2005 20:32:40 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{9FB8CD44-CA27-4424-994E-20E67DBA5EF9}
vti_backlinkinfo:VX|2005-6/fb/samppres_master03.htm 2005-6/fb/samppres_master04.htm 2005-6/fb/samppres_slide0003.htm 2005-6/fb/samppres_slide0004.htm 2005-6/fb/samppres_master01.htm 2005-6/fb/samppres_master02.htm 2005-6/fb/samppres_slide0001.htm 2005-6/fb/samppres_slide0002.htm 2005-6/fb/samppres_slide0009.htm 2005-6/fb/samppres_slide0010.htm 2005-6/fb/samppres_slide0011.htm 2005-6/fb/samppres_slide0012.htm 2005-6/fb/samppres_slide0007.htm 2005-6/fb/samppres_slide0008.htm 2005-6/fb/samppres_outline.htm 2005-6/fb/samppres_slide0005.htm 2005-6/fb/samppres_slide0006.htm
vti_syncwith_localhost\\c\:\\documents and settings\\bregard\\desktop\\website/c\:/documents and settings/bregard/desktop/website:TW|19 Jan 2005 20:32:40 -0000
vti_nexttolasttimemodified:TR|11 Sep 2006 22:12:33 -0000
vti_cacheddtm:TX|19 Jan 2005 20:32:40 -0000
vti_filesize:IR|7243
